@charset "UTF-8";

.user-container {
	width: 1000px;
	margin: 0 auto;
	padding: 20px 20px;
}

.header-user-manager {
	display: flex;
	margin-bottom: 20px;
	align-items: center;
	margin-left: -8px;
	margin-right: -8px;
	justify-content: space-between;
}

.header-order input {
	
}

.header-search {
	display: flex;
	width: 50%;
}

.header-search input {
	width: 65%;
	padding: 10px 0px 10px 12px;
	font-size: 14px;
	margin-right: 20px;
}

.header-search button, .header-add button {
	padding: 12px 18px;
}

.content-manager {
	margin-left: -8px;
	margin-right: -8px;
}

li {
	list-style: none;
}

.content-manager .list-title {
	display: flex;
}

.content-manager .list-title {
	padding-bottom: 14px;
	border-bottom: 2px solid #ccc;
}

.title-item {
	width: 16.67%;
}

.user-item {
	display: flex;
	padding: 14px 0px;
	border-bottom: 1px solid #ccc;
}

.user-item>span {
	width: 16.67%;
}

.user-item:last-child {
	border: none;
}
.future-manager{
	position: relative;
}
.sub-feature{
	position: absolute;
	top: 100%;
	left: 0%;
	background-color: #fff;
	display: none;
	transision: 0.4s;
	z-index: 10;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sub-feature li{
	padding: 10px;
	font-size: 16px;
	
}
.sub-feature li:hover{
	color: #fff;
	cursor: pointer;
	background-color: #ccc;
	
}
.future-manager:hover .sub-feature{
	display: block;
}
.modal-user{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background-color: rgba(0, 0, 0, 0.05);
	justify-content: center;
	align-items: center;
}
.modal-user.active{
	display: flex;
}
.form-editUser{
	width: 200px;
	background-color: #fff;
	
	
}
.form-editUser > div{

	padding: 12px;
}