@charset "UTF-8";

.container-post {
	display: flex;
	width: 1200px;
	margin: 0 auto;
	padding: 50px 0px;
}

.box-content {
	display: flex;
}

.box-post>h3 {
	font-size: 24px;
}

.list-post {
	padding: 50px 0px;
	list-style: none;
	width: 70%;
}

.post-item {
	width: 100%;
	border-radius: 12px;
	background-color: #fff;
	margin-bottom: 20px;
	padding: 20px;
	border: 2px solid #e8e8e8;
	display: flex;
	align-items: center;
	color: #000;
}

.post-content {
	width: 70%;
}
.post-content > a{ 
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.6;
	margin-bottom: 10px;
	
}


.post-item p {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	line-height: 1.4;
	margin-bottom: 20px;
}

.list-tag {
	list-style: none;
	display: flex;
}

.list-tag li a, .topic-item-link {
	text-transform: capitalize;
	text-decoration: none;
	background-color: #f2f2f2;
	border-radius: 100px;
	color: #333;
	font-weight: 600;
	line-height: 1.2;
	margin-right: 12px;
	padding: 4px 10px;
}

.post-image {
	width: 30%;
}

.post-image img {
	width: 100%;
}

.box-topic {
	width: 30%;
	padding: 20px;
}

.box-topic h5 {
	color: #333;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.box-topic ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.box-topic ul li {
	margin-bottom: 22px;
}

.topic-item-link {
	padding: 8px 16px;
}