@charset "UTF-8";
.price.visible{
	text-decoration: line-through;
}
.homepage__row{
	position: relative;
}
.title-sale{
	position: absolute;
	right: 38px;
	top: 0;
	text-align: center;
	width: 38px;
	height: 30px;
	line-height: 30px;
	background-color: #000;
	color: #fff;
	z-index: 10;
	
}
.all-price{
	display: flex;
	align-items: center;
}
.all-price span,
.price-normal{
	margin-right: 12px;
	font-size: 12px;
	font-weight: 100;
	color: #ccc;
}
.price-normal{
	text-align: left;
}
.price-before-sale{
	text-decoration: line-through;
}
.save-price{
	color: red !important;
}